@media (max-width: 992px) {
  /* Tablet */

  /* ================================================================== */
  /* Header / Navbar */
  .navbar {
    padding: 0 20px;
    gap: 10px;
  }

  .navbar-container {
    justify-content: flex-end;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: calc(100vh - 100px);
    gap: 60px;
    padding: 50px 0;
    position: absolute;
    top: 100px;
    /* left: 65%; */
    right: 0;
    background: #121314;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    animation: changeBorderColor 5s linear infinite;
    /* border-radius: 0 0 0 40px; */
    z-index: 2;

    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }

  .nav-link {
    font-size: 16px;
  }

  .menu-label {
    display: block;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .open-menu {
    /* display: flex; */
    transform: translate(0%);
    transition: all 0.1s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }

  /* Oculta el icono central del navbar */
  .ocultar {
    display: none;
  }

  /* Muestra el icono del navbar en el lado izquiedo */
  .mostrar {
    display: flex;
  }

  .cart {
    width: 35%;
  }

  /* =========================================================================== */
  /* Portada / Hero */
  .portada-info {
    max-width: 900px;
  }

  .slider {
    display: none;
  }

  .portada-text {
    width: 60%;
  }

  /* Seccion About Us */
  .about-info {
    max-width: 900px;
    width: 100%;
    gap: 10px;
  }

  /* Seccion Products */
  .sponsor-img {
    width: 70px;
  }

  /* Seccion Contact Us */

  .contact-info-container {
    max-width: 900px;
    height: 400px;
  }

  .left-side {
    width: 35%;
  }

  .left-side-img {
    width: 200px;
  }

  .mid-side {
    width: 30%;
  }

  .right-side {
    width: 35%;
  }

  .mapa {
    width: 250px;
    height: 150px;
    border: 2px solid black;
  }

  /* Seccion Footer */
  .footer-info-container {
    width: 80%;
    padding-left: 20%;
  }

  .footer-text {
    font-size: 15px;
  }

  .redes-sociales {
    width: 20%;
  }

  .redes-icons {
    width: 40px;
  }
}

@media (max-width: 576px) {
  /* Mobile */

  /* Navbar - Carrito */
  .cart {
    width: 100%;
  }

  /* ======================================== */
  /* Portada */

  .portada-info {
    max-width: 570px;
    width: 90%;
  }

  .portada-text {
    width: 85%;
  }

  .portada-bottom {
    width: 100%;
    text-align: center;
  }

  /* ======================================== */
  /* About-us */

  #about-us {
    height: 1200px;
  }

  .about-info {
    gap: 40px;
  }

  .about-title {
    font-size: 24px;
  }

  .about-text {
    font-size: 16px;
  }

  .card-img {
    width: 90px;
  }

  .card span {
    font-size: 16px;
  }

  .card-text {
    font-size: 15px;
  }

  /* ========================================== */
  /* Products */

  #products {
    height: 100%;
    padding: 30px;
  }

  .products-info {
    height: 55%;
    gap: 30px;
  }

  .filter-buttons {
    flex-wrap: wrap;
    width: 100%;
  }

  .filter-btn {
    width: 200px;
  }

  .products-card-container {
    gap: 35px;
  }

  .product-card {
    width: 235px;
  }

  .sponsors-info {
    display: none;
    position: absolute;
    bottom: 0;
  }

  .sponsors-logos {
    gap: 20px;
    padding: 0;
  }

  .sponsors-info-title {
    font-size: 16px;
  }

  .sponsor-img {
    width: 50px;
  }

  /* ======================================= */
  /* Contacto */

  .contact-info-container {
    gap: 0;
  }

  .left-side {
    width: 45%;
  }

  .left-side-img {
    width: 200px;
  }

  .left-side span {
    font-size: 14px;
  }

  .mid-side {
    width: 55%;
    padding: 10px;
  }

  .mid-side span {
    text-align: center;
  }

  .contact-text {
    font-size: 14px;
  }

  .contact-list-img {
    width: 25px;
  }

  .right-side {
    display: none;
    width: 0;
  }

  /* =========================================== */
  /* Footer */
  .footer-info-container {
    padding-left: 0;
    width: 100%;
  }

  .footer-links {
    font-size: 14px;
    gap: 10px;
  }

  .footer-text {
    font-size: 11px;
  }

  .redes-sociales {
    display: none;
  }
}


@media (width <= 415px){

  .filter-btn {
    width: 120px;
  }

  #contact-us {
    gap: 30px;
    padding: 20px;
    height: 500px;
  }

  .contact-info-container {
    height: 350px;
  }


  .left-side {
    width: 40%;
    padding: 5px;
  }

  
  .left-side-img {
    width: 150px;
  }

  .left-side p {
    font-size: 10px;
  }

  .left-side span{
    font-size: 8px;
  }

  .mid-side {
    width: 60%;
    padding: 10px;
    gap: 30px;
  }

  .mid-side span {
    text-align: center;
    font-size: 13.5px;
  }

  .contact-text {
    font-size: 12px;
  }

  .contact-list-img {
    width: 20px;
  }

  .create-ticket-btn {
    width: 150px;
  }

  .footer-links {
    font-size: 14px;
    gap: 10px;
  }

  .footer-text {
    font-size: 11px;
  }
}