@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;800&family=Poppins:wght@200;300;400;600;800&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-family: "Kanit", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}

/* Loader */
#contenedor-carga {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(250, 240, 245, 0.9); */
  background-color: rgba(24, 23, 24, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all 1s ease;
  -o-transition: all 1s ease;
  z-index: 100;
}

#carga {
  /* border: 15px solid #ccc;
  border-top-color: #F4266A;
  border-top-style: groove; */
  /* height: 100px;
  width: 100px; */
  /* border-radius: 100%; */
  animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

/* ========================================================= */
/* Estilos Navbar */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #121314;
  border-bottom: 2px solid white;
  animation: changeBorderColor 5s linear infinite;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 10px;
  padding-left: 70px;
}

#toggle-menu,
#toggle-cart,
.menu-label {
  display: none;
}

.menu-icon,
.cart-icon {
  width: 30px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 120px;
}

.mostrar {
  display: none;
}

.nav-logo {
  width: 120px;
}

.cart-label {
  display: flex;
  position: relative;
}

.cart-items-counter {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 18px;
  top: 0;
  border-radius: 100%;
  background: purple;
  width: 50%;
  font-size: 12px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  height: calc(100vh - 100px);
  position: absolute;
  top: 100px;
  right: 0;
  gap: 30px;
  padding: 30px 30px;
  background: #121314;
  overflow-y: scroll;
  z-index: 2;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: #2323234e;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgb(212, 14, 153);
}

.cart-item img {
  width: 70px;
  border: 1px solid white;
  border-radius: 10px;
}

.item-card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.item-title {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.item-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-price {
  color: white;
  font-size: 16px;
  font-weight: 800;
}

.item-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
}

.item-quantity {
  color: white;
}

.up,
.down {
  border: 1px solid rgb(116, 6, 167);
  cursor: pointer;
}

.divider {
  width: 100%;
  border: 1px solid transparent;
  animation: changeBorderColor 5s linear infinite;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-total p {
  color: white;
  font-weight: 700;
}

.cart-total span {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.pay-btn,
.clear-btn {
  font-size: 16px;
  background: rgb(116, 6, 167);
  padding: 8px 35px;
  border-style: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.pay-btn:hover,
.clear-btn:hover {
  opacity: 0.9;
}

.blur-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.show-overlay {
  display: block;
}

.open-cart {
  transform: translate(0%);
  transition: all 0.1s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: lightgray;
  color: white;
  cursor: not-allowed;
  border: none;
}

/* ========================================================= */
/* Estilos de Main (Contiene todas las secciones) */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ========================================================= */
/* Estilos seccion Portada */

#portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../img/portada/pc-backgroundblured.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 50px;
}

.portada-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 400px;
  backdrop-filter: blur(30px);
  border: 10px solid black;
  border-radius: 30px;
}

.slider {
  width: 420px;
  height: 300px;
  overflow: hidden;
  border: 5px solid #ffffff;
  border-radius: 8px;
  box-shadow: 20px 25px 30px rgba(30, 30, 200, 0.3);
}

.images {
  display: flex;
  animation: slide 16s infinite;
}

.images img {
  width: 410px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  35% {
    transform: translateX(-200%);
  }
  45% {
    transform: translateX(-300%);
  }
  50% {
    transform: translateX(-300%);
  }
  60% {
    transform: translateX(-400%);
  }
  65% {
    transform: translateX(-400%);
  }
  75% {
    transform: translateX(-500%);
  }
  80% {
    transform: translateX(-500%);
  }
  90% {
    transform: translateX(-600%);
  }
  95% {
    transform: translateX(-600%);
  }
  105% {
    transform: translateX(0);
  }
}

@keyframes changeBorderColor {
  0% {
    border-color: #ff0000; /* Rojo */
  }
  25% {
    border-color: #00ff00; /* Verde */
  }
  50% {
    border-color: #0000ff; /* Azul */
  }
  75% {
    border-color: #ffff00; /* Amarillo */
  }
  100% {
    border-color: #ff00ff; /* Magenta */
  }
}

.portada-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 30px;
}

.portada-top,
.portada-bottom {
  width: 90%;
  text-align: justify;
}

.portada-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portada-title {
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.portada-subtitle {
  line-height: 0;
}

.portada-bottom-text {
  font-size: 18px;
}
/* ========================================================= */
/* Estilos Seccion About Us */

#about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  animation: changeBorderColor 5s linear infinite;
  width: 100%;
  height: 1200px;
  background-color: #121314;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ffffff' fill-opacity='0.09' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  text-align: center;
  gap: 80px;
}

.about-info-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.about-title {
  font-size: 28px;
}

.about-text {
  width: 80%;
  font-size: 18px;
}

.about-info-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-text,
.about-text {
  width: 80%;
  font-size: 18px;
}

.card-img {
  width: 120px;
}

/* ========================================================= */
/* Estilos Seccion Products */

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.678);
  gap: 80px;
  border-top: 2px solid white;
  animation: changeBorderColor 5s linear infinite;
}

.products-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 50px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 10px;
}

.filter-btn {
  color: black;
  width: 150px;
  text-align: center;
  border: none;
  border-bottom: 5px solid rgb(119, 0, 255);
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.filter-btn:hover {
  transform: scale(1.05);
}

.active {
  border-bottom: 5px solid blue;
}

.products-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  gap: 60px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  /*height: 340px; */
  border: 2px solid white;
  background: transparent;
  border-radius: 16px;
  box-shadow: 0px 0px 40px rgba(0, 204, 255, 0.651);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6.2px);

  gap: 10px;
  padding: 20px;
}

.product-card-img {
  width: 150px;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.card-title {
  font-size: 16px;
  font-weight: 600;
  height: 70px;
}

.card-price {
  font-weight: 500;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px;
  font-size: 16px;
  color: black;*/
  gap: 5px; 

  font-size: 16px;
  background: rgb(119, 0, 255);
  padding: 5px 35px;
  border-style: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  width: 90%;
}

.add-btn-img {
  width: 20px;
}

.add-to-cart-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-showmore {
  padding: 5px 10px;
  color: black;
  width: 200px;
  text-align: center;
  border: none;
  border-bottom: 5px solid rgb(119, 0, 255);
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn-showmore:hover{
  transform: scale(1.05);
}


/* Cuadro de Sponsors */
.sponsors-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10%;
}

.sponsors-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  background: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
}

.sponsor-img {
  width: 120px;
}

/* ========================================================== */
/* Estilo Seccion Contact Us */

#contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra todo el contenido de la Seccion */
  align-items: center;
  width: 100%;
  height: 600px;
  background: #151617b2;
  padding: 40px;
  gap: 40px;
}

.contact-info-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 20px;
  gap: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  border-right: 1px solid white;
}

.left-side-img {
  width: 300px;
}

.mid-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  gap: 40px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.contact-direction,
.contact-phone,
.contact-mail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.contact-list-img {
  width: 30px;
}

.separador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.divisor {
  width: 100%;
  border: 1px solid white;
  border-radius: 30px;
}

.create-ticket-btn {
  width: 200px;
  padding: 10px;
  background: white;
  color: black;
  text-align: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  gap: 15px;
  border-left: 1px solid white;
}

.mapa {
  width: 350px;
  height: 250px;
  border: 3px solid black;
}

/* Seccion Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121314;
  width: 100%;
  height: 100px;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-left: 10%;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.footer-link {
  color: lightgray;
}

.footer-link:hover {
  color: white;
  text-decoration: underline;
}

.footer-text {
  color: lightgray;
}

.footer-text span {
  color: purple;
  text-decoration: underline;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.redes-icons {
  width: 48px;
}
